<form autocomplete="off" class="{{cssClass}} bc_sk_body">
    <div class="bc_sk_description">
        <div class="bc_sk_row">
            <span class="bc_sk_label">{{localize "BC.Sheet.Descriptions.Name"}}</span>
            <input class="bc_sk_input" name="name" type"text" value="{{item.data.name}}" />
        </div>
    </div>
</form>